# Magento Marketplace credentials
# Obtén las tuyas en: https://marketplace.magento.com → My Profile → Access Keys
MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=

# Prismic (apps/web)
# repositoryName: subdominio de tu repo (https://<repo>.prismic.io)
NEXT_PUBLIC_PRISMIC_REPO=rs-content
# Solo requerido si el repo es privado o para habilitar previews
# Genéralo en: Settings → API & Security → Generate an Access Token
PRISMIC_ACCESS_TOKEN=
